.contact{
    background-color: #f3a96c;
    height:100vh;
}

a.cont{
    text-decoration: none;
    font-size:2em;
    color:white;
}

a.cont:hover{
    opacity:80%;
}

/*.contacttext{
    font-size: 1.1em;
    font-variant: small-caps;
    border:white 1px solid;
    padding:6%;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    border-radius: 30px;
    margin-top:5%;
    margin-bottom:2%;
}


#resume{
    border-radius:30px;
    background-color: white;
    padding:3%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
}

a.res{
    font-size:3em;
    color:#f3a96c;
    text-decoration: none;
}

a.res:hover{
    opacity:70%;
}*/