.skills{
    background-color:#ffc107;
    height:100vh;
    padding:2em;
}

.list{
    border:1px solid white;
    margin:2%;
    width:45%;
    padding:0% 3% 5% 3%;
    content: inherit;
    border-radius: 20px;
}